:root {
    --text-color-h1: #c40000;
    --border-color-h1: #3d00ce;
    --background-color-h1: #dbd000;
    --background-color-tracks: #e5ff7f;
    --text-tracks: #28a300;
    --std-border-radius: 5px;
    --font-size-h1: 60px;
    --font-size-std: 24px;
    --color-std-btn: #199319;
    --color-std-btn-hover: #223094;
}

h1 {
    padding: 0 20px 0 20px;
    margin: 10px 20px 10px 40px;
    font-size: var(--font-size-h1);
    color: var(--text-color-h1);
    border: 1px solid var(--border-color-h1);
    background-color: var(--background-color-h1);
    display:inline-block;
    border-radius: var(--std-border-radius);
}

#listTracts {
    list-style-type: none;
}

#listTracts li {
    margin: 3px 0 3px 0;
    padding-left: 10px;
    border: 1px solid var(--border-color-h1);
    width: 30em;
    background-color: var(--background-color-tracks);
    font-size: var(--font-size-std);
    font-weight: bold;
    color: var(--text-tracks);
    border-radius: var(--std-border-radius);
}

.std-btn {
    background-color: var(--color-std-btn);
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: var(--std-border-radius);
    cursor:pointer;
}

.std-btn:hover {
    background-color: var(--color-std-btn-hover);
}
